<div class="home">
  <div class="row">
    <div class="col-sm-10 bg-light">
      <p>
        <strong> <%= @group.name %> </strong>  
      </p>
      <p>Total Members : <%= @group.member_ships.size %></p>
    </div>

    <div class="col-sm-2">
      <%= link_to "Info", info_group_path(@group), class: "btn btn-info" %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2 bg-white">

    </div>

    <div class="col-sm-6 bg-white">
      <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Add a post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create a post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <%= render partial: 'posts/new' %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <br>
      <div>
        <% @posts.each do |post| %>
          <%= render partial: 'posts/show', locals: { post: post } %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3 bg-white">
      
    </div>
  </div>
</div>
