<p>
  <strong>Welcome</strong>
  <%= @user.name%>
</p>
<%= link_to 'My Profile', user_profile_path %>
<p>
  <%= @user.email%>
</p>

<p>
  <%= @user.password%>
</p>

<p>
  <%= @user.mobile_number%>
</p>

<p>
  <%= @user.gender%>
</p>

<p>
  <%= @user.date_of_birth%>
</p>